.create-check__form{
    width: 100%;
    height: 50px;
    padding: 10px 20px;

    
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--panel-color);
}

.create-check__form input{
    height: 100%;
    margin-right: 10px;
}

.input{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    height: 30px;
    padding: 0 10px;

    border-radius: 3px;
    border: 0;
}

.input::placeholder{
    color: var(--placeholder-color);
}

.input-product{
    max-width: 320px;
    width: 100%;
}

.input-price{
    max-width: 130px;
    width: 100%;
}

.create-check__form button{
    height: 100%;
    text-transform: uppercase;
}

.btn{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--button-color);
    transition: background .2s linear;
}

.btn-set{
    width: 60px;
    background-color: var(--bg-carts-color);
}

.btn-set:hover,
.btn-set:focus{
    background-color: var(--white-color);
}

.btn-done{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100px;
    width: 100%;
    height: 30px !important;
}

.btn-done:hover,
.btn-done:focus{
    background-color: #ffad32;
}