.app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
    overflow: hidden;
}

.container{
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (width <= 320px){
    .container{
        padding: 0;
    }
}